default:
  suites:
    default:
      contexts:
        - DennisDigital\Behat\FieldAliases\Context\FieldAliasesContext:
          - field_mapping:
              field_see_related: See Related
              field_related_articles: Related articles
              field_other_articles: Other Articles
              field_tags: Tags
              field_image: Image
              field_primary_image: Primary Image
              field_file_image_title_text: Image title
              field_file_image_alt_text: Image alt
